[submodule "backend"]
    path = backend
    url = https://github.com/hady-awayda/carpool-connect-backend/tree/main

[submodule "frontend"]
    path = frontend
    url = https://github.com/hady-awayda/carpool-connect-frontend
